*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
}

body{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 25px;
    height: 100vh;
    background: #ECEAE4;
}

.container{
    background-color: #ECD5E3;
    border-radius: 10px;
    padding: 15px 25px;
    margin-top: 10px;
}

.container .content{
    height: 80vh;
}

.container .title{
    font-family: 'Times New Roman';
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    background-color: #ECD5E3;
}

.container .sub-title{
    font-family: 'Times New Roman';
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECD5E3;
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Times New Roman';
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;    
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}

form .button{
    height: 45px;
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
}

form .button input{
    height: 100%;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #ECEAE4;
}

form .button input:hover{
    background: violet;
    transition: 0.8s ease;
}

@media(max-width: 2000px){
    .container{
        max-width: 100%;
    }
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

.content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
}

.user-details::-webkit-scrollbar{
    width: 5px;
}

@media(max-width: 600px){
    .container .content{
        flex-direction: column;
    }   
}


