*{
    margin: 0px;
    padding: 0px;
    background-color: #F2EBFB;
}
html {
  font-family: "Manrope", sans-serif;
}
body {
  background-color: #f2ebfb;
  background-repeat: no-repeat;
  background-position: center;
}

.heading{
    height: 56px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: purple;
    padding-top: 40px;
    
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-size: 1.25em;
  background-color: #fff9f9;
  /* background-color: #000000; */
  border-radius: 0 0 25px 25px;
  filter: drop-shadow(0px 10px 5px #bebebe);
  text-decoration: none
}

header nav img {
  width: 2.25em;
  height: auto;
  margin: 0 1em;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  padding: 0.5em;
  background-color: #fff9f9;
}

header nav ul li a {
  text-decoration: none;
  color: #575757;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff9f9;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li a.cta {
  background-color: #575757;
  color: #fff9f9;
}

.events{
    display: grid;
    grid-template-columns: repeat(2,0.38fr);
    grid-gap: 20px;   
    align-items: center;
    justify-content: center;
    
   
}
.box{
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.image img{
    height: 288px;
    width: 512px;
    border: 8px inset rgb(185, 81, 255);
    border-radius: 10px;
    backface-visibility: hidden;   
    margin-top: 15px;
    transition: all .25s ease-in-out;

}
.box:hover .image img{
    transform: scale(1.1);
}

@media (max-width:850px ) {
    .heading{
        height: 48px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        font-weight: bold;
        color: purple;
        padding-top: 40px;
        
    }
    
    .events{
        display: grid;
        grid-template-columns: 0.40fr;
        grid-gap: 50px;
        grid-auto-rows: 288px;   
        align-items: center;
        justify-content: center;
    }

    .image img{
        height: 288px;
        width: 512px;
        border: 8px inset rgb(185, 81, 255);
        border-radius: 10px;
        backface-visibility: hidden;   
        margin-top: 15px;
        transition: all .25s ease-in-out;
    
    }
    .box:hover .image img{
        transform: scale(1.1);
    }
};