*{
    margin: 0px;
    padding: 0px;
    background-color: #F2EBFB;
    
}
.body{
    overflow: hidden;
    
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    font-size: 1.25em;
    background-color: #fff9f9;
    /* background-color: #000000; */
    border-radius: 0 0 25px 25px;
    filter: drop-shadow(0px 10px 5px #bebebe);
    text-decoration: none
  }
  
  header nav img {
    width: 2.25em;
    height: auto;
    margin: 0 1em;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
  }
  
  header nav ul li {
    padding: 0.5em;
    background-color: #fff9f9;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #575757;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff9f9;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  header nav ul li a.cta {
    background-color: #575757;
    color: #fff9f9;
  }

.heading{
    align-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: purple;
    padding-top: 40px;
    
}

.departments{
    padding-top: 30px;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    color: purple;

}

.executives{
    display: grid;
    grid-template-columns: repeat(2,0.38fr);
   
    align-items: center;
    justify-content: center;
    
   
}

.box{
    margin-top: 70px;
  
    
    border-radius: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image img{
    height: 180px;
    border-radius: 50%;
    border: 2px solid plum;
    backface-visibility: hidden;
    
    margin-top: 15px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;

}


.box:hover .image img{
    transform: scale(1.2);
}

.name{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5px;
    align-items: center;
    justify-content: center;

}

.post{
    text-align: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Neuton', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    margin-top: 15px;
    align-items: center;
    justify-content: center;

}

.content{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    
   
}

.creatives{
    display: grid;
    grid-template-columns: repeat(2,0.38fr);
   
    align-items: center;
    justify-content: center;
    
}

.logistics{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
  
   
}

.publicity{
    display: grid;
    grid-template-columns: repeat(2,0.38fr);
   
    align-items: center;
    justify-content: center;
    
   
}

.social-media{
    display: grid;
    grid-template-columns: repeat(2,0.38fr);
    
    align-items: center;
    justify-content: center;
    
   
}

.volunteers{
    display: grid;
    grid-template-columns: repeat(6,0.5fr);
   
    align-items: center;
    justify-content: center;
}

.box1 {
    margin-bottom: 5px;

}
.name1{
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -5px;
}
.image1 img{
    height: 100px;
    border-radius: 50%;
    border: 2px solid plum;
    backface-visibility: hidden;
    margin-left: 73px;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;

}


.box1:hover .image1 img{
    transform: scale(1.2);
}