@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Manrope", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    font-size: 1.25em;
    background-color: #fff9f9;
    border-radius: 0 0 25px 25px;
    filter: drop-shadow(0px 10px 5px #bebebe);
  }
  
header nav img {
    width: 2.25em;
    height: auto;
    margin: 0 1em;
}
  
header nav ul {
    list-style-type: none;
    display: flex;
}
  
header nav ul li {
    padding: 0.5em;
}
  
header nav ul li a {
    text-decoration: none;
    color: #575757;
    padding: 5px;
    border-radius: 5px;
}
  
header nav ul li a:hover {
    text-decoration: underline;
}
  
header nav ul li a.cta {
    background-color: #575757;
    color: #fff9f9;
}

form{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: #F2EBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    width: 70vw;
    padding: 15px 25px;
    margin-top: 20px;
}

.container .title{
    font-size: 30px;
    font-weight: 500;
    /* width: 100%; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* justify-content: center; */
    padding-top: 15px;
    background-color: #F2EBFB;
}

.container .sub-title{
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    /* width: 100%; */
    /* text-align: center; */
    display: block;
    /* align-items: center; */
    background-color: #F2EBFB;
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 75%;
}

form .input-box label{
    display: block;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;    
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .button{
    height: 100%;
    width: 90%;
    align-self: center;
    padding: 10px 0;
    border: 10px;
    border-radius: 10px;
    margin: 15px 0;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    cursor: pointer;
    background-color: rgba(135,15,211,1);
}

form .button:hover{
    background-color: rgba(135,15,211,0.5);
    transition: 0.5s ease-in-out;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

.user-details::-webkit-scrollbar{
    width: 5px;
}

.team-title{
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.team-choice{
    padding: 8px;
}

#creatives{
    margin-right: 2px;
}

#social-media{
    margin-right: 2px;
}

#content-info{
    margin-right: 2px;
}

#logistics{
    margin-right: 2px;
}

#publicity{
    margin-right: 2px;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
  }
  
  footer img {
    width: 2.25em;
    height: auto;
    margin: 0 1em;
  }
  
  footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  footer ul li a img {
    width: 1.5em;
  }
  